html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  flex-direction: column;
}

body {
  background-image: url('images/farmer.png');
  background-size: 349px 349px;
  color: #333;
}
@media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
     only screen and (    min--moz-device-pixel-ratio: 1.3 ),
     only screen and (      -o-min-device-pixel-ratio: 2.6/2 ),
     only screen and (         min-device-pixel-ratio: 1.3 ),
     only screen and ( min-resolution: 124.8dpi ),
     only screen and ( min-resolution: 1.3dppx ) {

     body {
         background: url( 'images/farmer@2x.png' ) top left / 349px 349px;
     }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
